.carousel-inner img {
  max-height: 400px;
  object-fit: cover;
}
/* Footer styling */
.footer {
  background-color: #000;
  color: #fff;
}

.footer a {
  color: #fff;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

.footer .footer-left ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.footer .footer-left li {
  margin: 5px 0;
}

.footer .footer-right {
  text-align: center;
}

.footer .footer-right h6 {
  font-weight: bold;
  margin-bottom: 10px;
}

.footer .footer-right p {
  margin: 5px 0;
}

@media (max-width: 768px) {
  .footer {
    text-align: center;
  }
  .footer-left,
  .footer-right {
    margin-bottom: 20px;
  }
}

.container h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

.btn-registro {
  font-size: 18px;
  padding: 12px 25px;
}

.container h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

.btn-registro {
  font-size: 18px;
  padding: 12px 25px;
}

.navbar-brand {
  font-size: 2rem;
}

.photo-grid img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
  transition: transform 0.3s ease-in-out;
}

.photo-grid img:hover {
  transform: scale(1.1);
}

.photo-grid .col {
  padding: 0;
  margin-bottom: 20px;
}
